html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.menu_container{
    display:flex;
    padding: 20px;
    background-color: #1c1808;
    font-family: cursive;
    font-weight: 300;
    color: white
}

.menu_item {
    flex:1
}

.more {
    flex:2;
}

.menu_container
.menu_item nav ul {
    display: flex;
}

.menu_container
.menu_item nav ul li a {
    color: white;
    padding: 21px 37px;
    border-radius: 3px
}

.menu_container
.menu_item nav ul li a:hover {
    background-color: #becccf;
    color: #1c1808
}
.title_container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.title_container h3 {
    padding-top: 10px;
    flex: 7;
}

.title_container h1 {
    flex: 1;
}