html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.menu_container{
    display:flex;
    padding: 20px;
    background-color: #1c1808;
    font-family: cursive;
    font-weight: 300;
    color: white
}

.menu_item {
    flex:1
}

.more {
    flex:2;
}