.flex_container {
    width: 90%;
    height: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.flex_item {
    background-color: beige;
    width: 200px;
    height: 200px;
    text-align: center;
}

.first-item {
    order: 1;
}

.second-item {
    order: 2;
}

.last-item {
    order: 3;
}


