html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.menu_container{
    display:flex;
    padding: 20px;
    background-color: #1c1808;
    font-family: cursive;
    font-weight: 300;
    color: white
}

.menu_item {
    flex:1
}

.more {
    flex:2;
}

.menu_container
.menu_item nav ul {
    display: flex;
}

.menu_container
.menu_item nav ul li a {
    color: white;
    padding: 21px 37px;
    border-radius: 3px
}

.menu_container
.menu_item nav ul li a:hover {
    background-color: #becccf;
    color: #1c1808
}
.title_container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.title_container h3 {
    padding-top: 10px;
    flex: 7;
}

.title_container h1 {
    flex: 1;
}


.main_content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_content .sub_main {
    width: 80%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_content .img img {
    width: 100%;
    height: 100px;
}

.main_content .main-items {
    border: 1px solid black;
    width: 360px;
    height: 390px;
    margin: 10px 0;
    border-radius: 5px;
}

.main_content .main-items:hover {
    box-shadow: 0px 0px 20px #becccf;
}

.main_content .main-items
.img_content {
    padding: 10px
}