.flex_container {
    width: 60%;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.flex_item {
    background-color: beige;
    width: 200px;
    height: 200px;
    text-align: center;
}